# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
# Unignore corner-case files
!LICENSE
!README
!Makefile

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
.idea

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# Ignore generated .pb.go files in integration tests
/integration/**/*.pb.*go
# Unignore some files, used in tests
!/integration/impl_exists/strings/strings.pb.impl.go
!/integration/impl_exists/strings/strings.toupper.pb.impl.go
!/integration/binding_with_body_and_response/strings/strings.pb.impl.go
!/integration/binding_with_body_and_response/strings/strings.toupper.pb.impl.go

# Ignore vendor, needed for better local development
vendor/