# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
# Unignore corner-case files
!LICENSE
!README
!Makefile

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
.idea

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# Ignore generated .pb.go files in integration tests
/integration/**/*.pb.*go
/integration/**/vendor.pb/
/integration/**/strings/strings.go
/integration/**/strings/strings.to_lower.go
/integration/**/strings/strings.to_upper.go
/integration/**/pb/to_lower.go
/integration/**/pb/to_upper.go
/integration/**/pb/strings.go
/integration/**/pb/decode.go
/integration/**/pb/encode.go
/integration/**/strings/strings2.go
/integration/**/strings/to_lower.go
/integration/**/strings/to_upper.go
/integration/**/strings/to_lower2.go
/integration/**/strings/to_upper2.go
/integration/**/strings/strings2.to_lower.go
/integration/**/strings/strings2.to_upper.go
/integration/**/strings/empty_response.go
/integration/**/strings/without_desc.go
/integration/**/strings/without_desc_and_option.go
/integration/**/strings2/strings2.go
/integration/**/strings2/strings2.to_lower.go
/integration/**/strings2/strings2.to_upper.go
/integration/**/strings-api/strings_api.go
/integration/**/strings-api/to_lower.go
/integration/**/strings-api/to_upper.go
/integration/snake_case_service/strings/strings_service.go
/integration/snake_case_service/strings/strings_service.to_upper.go
# Unignore some files, used in tests
!/integration/impl_exists/strings/strings.go
!/integration/impl_exists/strings/strings.to_upper.go
!/integration/additional_bindings/strings/strings.to_upper.go
!/integration/binding_with_body_and_response/strings/strings.go
!/integration/binding_with_body_and_response/strings/strings.to_upper.go
!/integration/binding_with_optional_field/strings/strings.to_upper.go
!/integration/binding_with_repeated_field/strings/strings.to_upper.go
!/integration/client_cancel_request/app/strings/strings.to_upper.go
!/integration/impl_file_name_tmpl/strings/strings.to_upper.go
!/integration/response_vs_response_body/strings/strings.echo.go
!/integration/response_vs_response_body/strings/strings.echo2.go


# Ignore vendor, needed for better local development
vendor/
/integration/additional_bindings/strings/to_lower_test.go
/integration/binding_with_substruct_in_body/strings/to_upper_test.go
/integration/go_package/strings/to_lower_test.go
/integration/go_package/strings/to_upper_test.go
/integration/go_package_alias/strings/to_lower_test.go
/integration/go_package_alias/strings/to_upper_test.go
/integration/go_package_alias_proto_in_root/strings/to_lower_test.go
/integration/go_package_alias_proto_in_root/strings/to_upper_test.go
/integration/go_package_alias_proto_standalone/strings/to_lower_test.go
/integration/go_package_alias_proto_standalone/strings/to_upper_test.go
/integration/go_package_proto_in_root/strings/to_lower_test.go
/integration/go_package_proto_in_root/strings/to_upper_test.go
/integration/go_package_proto_standalone/strings/to_lower_test.go
/integration/go_package_proto_standalone/strings/to_upper_test.go
/integration/go_package_separate_impl_exists/internal/app/strings/to_upper_test.go
/integration/go_package_with_alias/strings/to_lower_test.go
/integration/go_package_with_alias/strings/to_upper_test.go
/integration/go_package_with_alias_proto_in_root/strings/to_lower_test.go
/integration/go_package_with_alias_proto_in_root/strings/to_upper_test.go
/integration/go_package_with_alias_proto_standalone/strings/to_lower_test.go
/integration/go_package_with_alias_proto_standalone/strings/to_upper_test.go
/integration/gogo_enums/strings/to_lower_test.go
/integration/gogo_nullable_option/strings/to_decode_test.go
/integration/gogo_nullable_option/strings/to_encode_test.go
/integration/google_empty/strings/empty_response_test.go
/integration/google_empty/strings/to_lower_test.go
/integration/google_empty/strings/to_upper_test.go
/integration/google_empty/strings/without_desc_and_option_test.go
/integration/google_empty/strings/without_desc_test.go
/integration/http_headers_passthru/strings/to_lower_test.go
/integration/http_headers_response/strings/to_lower_test.go
/integration/impl_service_sub_dir/strings/to_upper_test.go
/integration/impl_service_sub_dir_2/strings/to_lower_test.go
/integration/impl_service_sub_dir_2/strings/to_upper_test.go
/integration/impl_service_sub_dir_2/strings-api/to_lower_test.go
/integration/impl_service_sub_dir_2/strings-api/to_upper_test.go
/integration/impl_standalone/strings/to_lower_test.go
/integration/impl_standalone/strings/to_upper_test.go
/integration/impl_standalone_without_swagger/strings/to_lower_test.go
/integration/impl_standalone_without_swagger/strings/to_upper_test.go
/integration/imported_type_in_request/strings/to_lower_test.go
/integration/imported_type_in_request/strings/to_upper_test.go
/integration/imported_type_in_response/strings/to_lower_test.go
/integration/imported_type_in_response/strings/to_upper_test.go
/integration/no_bindings/strings/to_lower_test.go
/integration/no_bindings/strings/to_upper_test.go
/integration/one_location/pb/to_lower_test.go
/integration/one_location/pb/to_upper_test.go
/integration/one_location_with_dot_package/pb/to_lower_test.go
/integration/one_location_with_dot_package/pb/to_upper_test.go
/integration/one_location_with_go_package_alias/pb/to_lower_test.go
/integration/one_location_with_go_package_alias/pb/to_upper_test.go
/integration/one_location_with_package/pb/to_lower_test.go
/integration/one_location_with_package/pb/to_upper_test.go
/integration/partial_bindings/strings/to_lower_test.go
/integration/partial_bindings/strings/to_upper_test.go
/integration/proto_in_root/strings/to_lower_test.go
/integration/proto_in_root/strings/to_upper_test.go
/integration/proto_standalone/strings/to_lower_test.go
/integration/proto_standalone/strings/to_upper_test.go
/integration/proto_two_services/strings/to_lower2_test.go
/integration/proto_two_services/strings/to_lower_test.go
/integration/proto_two_services/strings/to_upper2_test.go
/integration/proto_two_services/strings/to_upper_test.go
/integration/snake_case_message/strings/to_upper_test.go
/integration/snake_case_method/strings/to_upper_test.go
/integration/snake_case_service/strings/to_upper_test.go
/integration/swagger_comments/strings/to_lower_test.go
/integration/swagger_comments/strings/to_upper_test.go
/integration/swagger_def_sam_json_case/strings/to_lower_test.go
/integration/swagger_def_sam_json_case/strings/to_upper_test.go
/integration/swagger_default_options/strings/to_lower_test.go
/integration/swagger_default_options/strings/to_upper_test.go

# ignore binaries for generating the example
/doc/example/bin/**
