# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
# Unignore corner-case files
!LICENSE
!README
!Makefile

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
.idea

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# Ignore generated .pb.go files in integration tests
/integration/**/*.pb.*go
/integration/**/strings/strings.go
/integration/**/strings/strings.to_lower.go
/integration/**/strings/strings.to_upper.go
/integration/**/pb/to_lower.go
/integration/**/pb/to_upper.go
/integration/**/pb/strings.go
/integration/**/strings/strings2.go
/integration/**/strings/to_lower.go
/integration/**/strings/to_upper.go
/integration/**/strings/to_lower2.go
/integration/**/strings/to_upper2.go
/integration/**/strings/strings2.to_lower.go
/integration/**/strings/strings2.to_upper.go
/integration/**/strings/empty_response.go
/integration/**/strings/without_desc.go
/integration/**/strings/without_desc_and_option.go
/integration/**/strings2/strings2.go
/integration/**/strings2/strings2.to_lower.go
/integration/**/strings2/strings2.to_upper.go
/integration/**/strings-api/strings_api.go
/integration/**/strings-api/to_lower.go
/integration/**/strings-api/to_upper.go
/integration/snake_case_service/strings/strings_service.go
/integration/snake_case_service/strings/strings_service.to_upper.go
# Unignore some files, used in tests
!/integration/impl_exists/strings/strings.go
!/integration/impl_exists/strings/strings.to_upper.go
!/integration/additional_bindings/strings/strings.to_upper.go
!/integration/binding_with_body_and_response/strings/strings.go
!/integration/binding_with_body_and_response/strings/strings.to_upper.go
!/integration/binding_with_repeated_field/strings/strings.to_upper.go
!/integration/client_cancel_request/app/strings/strings.to_upper.go
!/integration/impl_file_name_tmpl/strings/strings.to_upper.go
!/integration/response_vs_response_body/strings/strings.go
!/integration/response_vs_response_body/strings/strings.echo.pb.impl.go
!/integration/response_vs_response_body/strings/strings.echo2.pb.impl.go

# Ignore vendor, needed for better local development
vendor/